/* HEADER */

body{
    align-items: center;
}

.logo{
    width: 400px;
    height: 400px;
    border-radius: 5px;
}
a{
    color: black;
    text-decoration: none;
}
#header-line{
    border: 3px solid black;
    width: 1000px;
}
.header-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-column{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 20px;
    /* flex-direction: row;
    align-items: center;
    justify-content: space-between; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
.navigation li{
    list-style: none;
    flex-grow: 1;
    text-align: center;
}
.navigation li a{
   padding: 0 50px;
}
#product-page:hover{
    display: inline;
    background-color: yellow;
}
  #cart-page:hover{
    display: inline;
    background-color: yellow;
}
.header-rolls{
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    text-align: center;
}

/* PRODUCT GRID */

#original-roll{
    width: 285px;
    height: 285px;
    border: 2px solid #555;
    border-color: black;
}
.products-grid{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
   
}

.roll{
    width: 300px;
    box-sizing: border-box;
    margin: 10px;
    border: 5px solid transparent;
}

.roll:hover{
    border-color: yellow;
    background-color: yellow;
    cursor: pointer;
}

/* PRODUCT DETAILS */

#original-roll-PD{
    width: 600px;
    height: 600px;
    border: 2px solid #555;
    border-color: black;
    margin: 100px;
}
.details-row{
    display: flex;
    flex-direction: row;
    align-items: center;

}
#details-desc{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
.dropdown{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.addtocart{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
#add:hover{
    background-color: yellow;
  }

  /* CART */
  .cart-items{
    margin-left: 350px;
  }

  #original-roll-cart{
    width: 200px;
    height: 200px;
    border: 2px solid #555;
    border-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;

  }

  #remove-original{
    font-weight: bold;
    text-decoration:underline;
  }

  #ddc-roll-cart{
    width: 200px;
    height: 200px;
    border: 2px solid #555;
    border-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
  }

.original-row-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

}
.original-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 200px;
}

.ddc-row-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

}
.ddc-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 140px;
}

.checkout-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.total-checkout{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* gap: 200px; */
    margin:200px;
}

#checkout-line{
    border: 3px solid black;
    width:1000px;
}
